/* universal styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') 
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.btn_primary {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    background: #E02C6D;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    text-transform: capitalize;
}

.btn_primary:hover {
    background-color: #3A3A3A;
}

/* universal styles */
/* home banner style  */
.home_banner {
    padding: 35px 0 90px;
}

.home_banner_wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.home_banner_elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0;
}
.home_banner_text h1 {
    color: #3A3A3A;
    font-size: 3rem;
    font-weight: 700;
    /* 134.615% */
}

.home_banner_text p {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 0;
    width: 85%;
}

.home_banner_text button i {
    font-weight: 700;
}

.home_banner_img {
    background-image: url(../images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2%;
}

.home_banner_img img {
    max-width: 100%;
}

.nav_ul {
    width: 100%;
    justify-content: end;
}

.nav_ul>li>a {

    color: #3A3A3A !important;

    font-size: 16px;

    font-weight: 600;

    margin: 0 5px;

    text-transform: capitalize;
}

.nav_ul>li>a:hover {
    color: #e02c6d !important;
}

.logo {
    color: #3A3A3A !important;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.logo:hover {
    color: #000000ed;
}

/* home banner style  */
/* clients section styles  */
.client_section {
    padding: 0 0 50px;
}

.client_section_wrapper {
    border-top: 1px solid #00000029;
    border-bottom: 1px solid #00000029;

}

.clients_container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    padding: 30px 0;
}
/* clients section styles  */

/* product section style  */
.product_section {
    padding: 40px 0 100px;
}

.product_section_wrapper {
    position: relative;
}

.product_section_wrapper h1 {
    text-align: center;
    color: #3A3A3A;
    font-size: 2rem;


    /* 250% */
}

.product_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 45px;
    gap: 1rem;
}

.product {
    padding: 1rem;
    box-shadow: 0px 0px 10px #00000014;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}

.product:hover {
    box-shadow: 0px 0px 10px #00000094;
}
.product h2 {
    color: var(--Text-Gray-900, #18191F);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 142.857% */
    margin: 15px 0 0 0;
    text-transform: capitalize;
}

.product h3 {
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
    font-size: 1.5rem;
    font-weight: 400;
    /* 36px */
    margin: 10px 0;
}

.product_rating {
    display: -webkit-inline-box;
}

.checked {
    color: yellow;
}

.product_rating p {
    padding: 0 0 0 10px;
    color: var(--gray-80, #5E6366);
    font-size: 1rem;
    font-weight: 700;
    /* 157.143% */
    letter-spacing: 0.1px;
}

.product_p {
    color: #787885;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.252px;
    margin: 5px 0 15px 0;
}

.pro_button {
    color: #E02C6D;
    background: none;
    position: absolute;
    right: 0;
    margin: 20px 0;
}

.pro_button:hover {
    color: #3A3A3A;
    background: none;
}

.pro_button i {
    font-weight: 700;
}

/* product section style  */
/* bottom banner styles  */
.bottom_banner {
    padding: 100px 0;
}

.bottom_banner_wrapper {
    display: flex;
    align-items: center;
}

.bootom_banner_img {
    flex-basis: 40%;
}
.bottom_banner_text h1 {
    color: #0A0826;
    font-weight: 700;
    /* 157.895% */
    font-size: 2rem;
}

.bottom_banner_text p {
    color: #6C6C6C;
    font-size: .9rem;
    margin: 20px 0px;
    font-weight: 700;
    /* 175% */
}

.bottom_banner_text {
    padding: 0 0 0 70px;
}

.bottom_btn {
    border-radius: 0;
    letter-spacing: 2px;
}

.bottom_btn i {
    font-weight: 600;
}

/* bottom banner styles  */
/* footer styles */
.footer_section {
    background-color: #0A0826;
}
footer {
    text-align: center;
    padding: 80px 0;
}

footer h1 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

footer p {
    color: #D9DBE1;
    font-size: 14px;

    /* 171.429% */
    margin: 0px;
    font-weight: 500;
}

.footer_social {
    padding: 20px 0 0 0;
}

.footer_social i {
    color: wheat;
    margin: 8px;
}

.footer_social i:hover {
    color: #e02c6d;
}

.footer_social i {
    font-weight: 700 !important;
    font-size: 1.4rem;
    color: wheat;
}

.dnone {
    display: none;
}

/* footer styles */
/* ===============responsive section===============*/
@media screen and (max-width:576px) {
    .responsive_des {
        max-width: 90%;

    }
    .home_banner{
        padding-bottom: 0;
    }
    header {
        padding: 10px;
        background-color: #e02c6d;
        border-radius: 8px;
    }

    .nav_ul li a {
        font-size: 20px;
        color: white !important;
        text-align: right;
    }

    .nav_res {

        position: absolute;

        border: none;


    }

    .nav_res span {
        color: #1b1b1b !important;
    }
    .navbar-toggler-icon {
        filter: invert(1);
        border: none;
    }

    .logo {
        color: white !important;
    }

    .home_banner_elements {
        flex-direction: column-reverse;
        text-align: center;
    }

    .home_banner_text {
        margin: 20px 0 0 0;
    }

    .home_banner_text h1 {
        font-size: 2.5rem;
    }

    .home_banner_text p {
        margin: 0 auto;
        padding: 15px 0;
    }

    .home_banner_text button {
        font-size: 1.5rem;
        margin: 15px 0;
    }

    .clients_container{
        display: grid;
        grid-template-columns: repeat(3,0fr);
        /* align-content: center; */
        justify-content: space-around;
    }
    .clients_container img{
    padding: 20px;
    max-width: 125px;
    }
    .product_wrapper{
        display:grid;
        grid-template-columns: repeat(1, 0fr);
        justify-content: center;
    }
    .product{
        margin-bottom:5px;
    }
    .pro_button{
    position: relative;
    text-align: center;
    }
    .bottom_banner{
        padding: 0px 0 70px;
    }
    .bottom_banner_wrapper{
    flex-direction: column-reverse;
    }
    .bottom_banner_text{
        padding:0 0 30px;
        text-align:center;
    }
    .bootom_banner_img img{
        max-width:100%;
    }
    footer{
        padding:40px 0;
    }
}

@media only screen and (max-width : 1024px) {
    .responsive_des {
        max-width: 90%;
        margin: 0 auto;
    }

    .extra_feature_wrapper {
        padding-bottom: 40px;
    }
}